babel
bioinfokit
ipython
jupyterlab
imblearn
ipython
ipywidgets
matplotlib
nbconvert
notebook
numpy
pandas
pingouin
plotly
plotly-express
scikit-learn==1.5.2
scikit-posthocs 
scipy
seaborn
statsmodels
streamlit
tqdm
xgboost
shap